<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plat.paygate.shop.mapper.PgCsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.plat.paygate.shop.domain.PgCsOrder" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="settle_id" property="settleId" jdbcType="BIGINT" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
    <result column="settle_amount" property="settleAmount" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, user_name, settle_id,account_name, account_no, settle_amount, rate
  </sql>

  <select id="listOrderByStatus" parameterType="java.lang.Object" resultType="com.plat.paygate.shop.dto.OrderListDto">
    SELECT
    pco.order_id,
    pco.user_id,
    pco.user_name,
    pco.account_no,
    po.tb_order_id,
    po.order_state,
    po.amount,
    po.order_time,
    po.remark
    from pg_cs_order pco
    INNER join pg_order po on pco.order_id = po.order_id
    <where>
      <if test="userId != null">
        and pco.user_id = #{userId}
      </if>
      <if test="orderStatus != null">
        and po.order_state = #{orderStatus}
      </if>
    </where>
    order by po.order_time desc
  </select>
  <select id="loadById" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from pg_cs_order
    where order_id = #{orderId}
  </select>
  <insert id="insertSelective" parameterType="com.plat.paygate.shop.domain.PgCsOrder" >
    insert into pg_cs_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="settleId != null" >
        settle_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountNo != null" >
        account_no,
      </if>
      <if test="settleAmount != null" >
        settle_amount,
      </if>
      <if test="rate != null" >
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="settleId != null" >
        #{settleId},
      </if>
      <if test="accountName != null" >
        #{accountName},
      </if>
      <if test="accountNo != null" >
        #{accountNo},
      </if>
      <if test="settleAmount != null" >
        #{settleAmount},
      </if>
      <if test="rate != null" >
        #{rate},
      </if>
    </trim>
  </insert>

  <select id="queryOrderByOrderIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from pg_cs_order
    where order_id IN
    <foreach collection="orderIds" open="(" close=")" separator="," index="index" item="orderId">
      #{orderId}
    </foreach>
  </select>

  <update id="updateSettleIdByUserId">
    update pg_cs_order
    set settle_id = #{settleId}
    where user_id = #{userId} and order_id in
    <foreach collection="orderIds" open="(" close=")" separator="," index="index" item="orderId">
      #{orderId}
    </foreach>
  </update>
</mapper>